mirrors-lst
	https://download.osgeo.org/osgeo4w/v2/;OSGeo;USA;Oregon
	https://ftp.osuosl.org/pub/osgeo/download/osgeo4w/v2/;OSL;USA;Oregon
	https://www.norbit.de/osgeo4w/v2/;norBIT GmbH;Germany;Niedersachsen
window-placement
	44,0,0,0,0,0,0,0,1,0,0,0,255,255,255,255,255,255,255,255,255,255,255,255,255,255,255,255,139,2,0,0,27,1,0,0,94,5,0,0,29,3,0,0
last-mode
	Advanced
last-mirror
	https://download.osgeo.org/osgeo4w/v2/
net-method
	IE
last-cache
	C:\Users\br8kw\AppData\Local\Temp
last-menu-name
	PortableQGIS
